<!DOCTYPE html>
<html>
<head>
    <title>Architecture AI</title>
<#--
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@stomp/stompjs@7.0.0/bundles/stomp.umd.min.js"></script>
-->
    <link rel="stylesheet" href="/bootstrap.min.css">
    <script>const username= "${user.name}"; const serverUrl = "${serverUrl}";</script>
    <script src="/jquery-3.1.1.min.js"></script>
    <#if client=="stomp">
    <script src="/stomp.umd.min.js"></script>
    <script src="/stomp-client.js"></script>
    </#if>
    <#if client=="sse">
    <script src="/sse-client.js"></script>
    </#if>
</head>
<style>
    table {
        border-collapse: collapse;
    }
    .header {
        width: 250px;
        height: 50px;
        font: italic bold 1.2em;
    }
    .content {
        width: 100%;
        font: normal 1em;
    }
</style>
<body>
<noscript>
    <h2 style="color: #ff0000">
        Seems your browser doesn't support Javascript! Websocket relies on Javascript being enabled. Please enable Javascript and reload this page!
    </h2>
</noscript>

<div style="margin-left:10%;margin-right:10%;">
    <h2>Architecture AI Assistant</h2>
    <form>
        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <tr><td class="header">Please enter your question</td></tr>
                    <tr><td class="content">
                        <textarea id=question" cols="123" rows="3" class="form-control" placeholder="Your question here..."></textarea>
                        </td>
                    </tr>
                    <tr><td class="content">
                        <button id="submit" class="btn btn-default" type="submit">Submit</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </form>

    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped">
                <tbody>
                <tr><td class="header">Question</td></tr><tr><td class="content" id="yourQuestion"></td></tr>
                <tr><td class="header">Keyword Search Query</td></tr><tr><td class=“content" id="keywordSearchQuery"> </td></tr>
                <tr><td class="header">Keyword Search Result</td></tr><tr><td classs="content" id="keywordSearchResult"> </td></tr>
                <tr><td class="header">Similarity Search Result</td></tr><tr><td class="content" id="similaritySearchResult"></td></tr>
                <tr><td class="header">Answer</td></tr><tr><td class="content" id="answer"> </td></tr>
                <tr><td class="header">DSL</td></tr><tr><td><textarea id="workspace" cols="123" rows="20" class="form-control"></textarea></td></tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>